<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.userAPI.dao.UserDao">
    <!-- 目的:为DAO接口方法提供sql语句配置-->

    <select id="getListUser" resultType="com.yao.userAPI.entity.User">
        SELECT * FROM USER
    </select>

    <select id="doLogin" resultType="com.yao.userAPI.entity.User">
        SELECT * from user where password = #{passWord} and user_name = #{userName}
    </select>
</mapper>
